.wrapper{
  .padding {
    height: 100px;
  }
  .form{
    width: 660px;
    padding: 30px;
    margin: 24px auto 0;
    background: linear-gradient(rgba(135, 206, 250, 0.1), rgba(135, 206, 250, 0.5));
    h1{
      font-size: 20px;
      font-weight: bold;
    }
    &-title{
      margin-top: 16px;
      h2{
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
      }
      .must{
        height: 25px;
        display: inline-block;
        background-color: red;
        color: #fff;
        padding: 2px;
        border-radius: 5px;
        line-height: 23px;
      }

      &-input{
        width: 100%;
        margin-top: 10px;
      }
      .error{
        color: red;
        font-weight: bold;
      }
    }
    &-box{
      margin-top: 16px;
      display: flex;
      &-label{
        font-size: 20px;
        font-weight: bold;
      }
      &-input{
        width: 160px;
      }
      .unit{
        margin-left: 5px;
      }
    }
    .submit{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      &-btn{
        @include submit();
        background-color: #87cefa;
        margin-left: 10px;
      }
      .home{
        background-color: tomato;
      }
    }
  }
}

@media(max-width: 414px) {
  .wrapper{
    .padding {
      height: 80px;
    }
    .form{
      width: 100vw;
      height: calc(100vh - 80px);
      padding: 20px;
      margin-top: 0;
      h1{
        font-size: 20px;
      }
      &-title{
        margin-top: 10px;
        h2{
          font-size: 16px;
        }
        .must{
          font-size: 16px;
          height: 22px;
          line-height: 20px;
        }

        .error{
          font-size: 14px;
        }
      }
      &-box{
        margin-top: 10px;
        &-label{
          font-size: 14px;
        }
        &-input{
          width: 156px;
        }
      }
      .submit{
        &-btn{
          font-size: 16px;
        }
      }
    }
  }
}