a{
  text-decoration: none;
}
.wrapper{
  .header{
    display: flex;
    justify-content: space-between;
    a{
      display: block;
    }
  }
  .contents{
    padding: 36px 0;
    &-main{
      width: 500px;
      margin: 0 auto;
      text-align: center;
      .title{
        font-size: 36px;
        font-weight: bold;
      }
      .total{
        width: 220px;
        height: 200px;
        font-size: 32px;
        font-weight: bold;
        border: 1px solid;
        border-radius: 50%;
        margin: 0 auto;
        line-height: 200px;
      }
    }
    &-list{
      margin-top: 36px;
      .title{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        a{
          @include submit();
          display: inline-block;
          font-size: 18px;
          background-color: #87cefa;
        }
      }
      table{
        margin: 16px auto 0;
        th{
          padding: 5px;
        }
        td{
          padding: 5px;
          .edit{
            color: blue;
          }
          .delete{
            color: red;
          }
        }
      }
    }
  }
}