.wrapper{
  .container{
    width: 100vw;
    padding: 148px 60px;
    text-align: center;
    .introduction{
      &-title{
        font-size: 50px;
      }
      &-message{
        font-size: 24px;
        margin-top: 40px;
      }
    }
    .link{
      margin-top: 36px;
      display: flex;
      justify-content: center;
      a{
        @include submit();
      }
      .login{
        background-color: #87cefa;
      }
      .signup{
        margin-left: 10px;
        background-color: orange;
      }
    }
  }
}

@media(max-width: 414px) {
  .wrapper{
    .container{
      padding: 128px 40px;
      .introduction{
        &-title{
          font-size: 20px;
          font-weight: bold;
        }
        &-message{
          font-size: 14px;
        }
      }
      .link{
        a{
          font-size: 10px;
        }
      }
    }
  }
}